{% extends 'base.html.twig' %}
{% form_theme formTrajet 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajouter un trajet!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Ajouter un trajet!</h1>

    {{ form_start(formTrajet) }}
       {{ form_widget(formTrajet) }}


        <button type="submit" class="btn">Ajouter</button>
    {{ form_end(formTrajet) }}

</div>
{% endblock %}
