<!-- Footer-->
<style>
    a{
        text-decoration: none;
        color: white;
        
    }
    a:hover{
        color: #868990;
    }
    .hauteur{
       
        padding-top: 5%;
    }
    
    
    </style>
    <footer class="footer hauteur text-justify  ">
       
       <div class=" container ">
           <div class="row ">
               <!-- Footer Social Icons-->
               <div class=" col-lg-3  mb-lg-0">
                   <h6 class="mb-3"> RG-GROUP</h6>
                   <p class="underline_text1"></p>
                   <p style="font-size: 14px" class="sous_text_footer"> © rg-group 2021. Tous droits réservés.</p>
                  
                  <!-- <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                   <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                   <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                   <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>--> 
               </div>
               <!-- Footer About Text-->
               <div class="col-lg-3 ">
                   <h6 class="mb-3 " > Le groupe</h6>
                   <p class="underline_text"></p>
                   
                   
                   <p style="font-size: 14px;" > <a class="sous_text_footer" href="https://rg-group.fr/qui-sommes-nous">  Qui sommes nous? </a></p>
                   <P style="font-size: 14px;"> <a class="sous_text_footer" href="https://rg-group.fr/le-mot-de-la-fondatrice"> Le mot de la fondatrice </a></P>
                   <p style="font-size: 14px;"> <a class="sous_text_footer" href=" https://rg-group.fr/rh-richesses-humaines"> RH-Richesse Humaine </a></p>
                 
               </div> 

               <div class="col-lg-3 ">
                    <h6 class="mb-3"> Nos activités</h6>
                    <p class="underline_text"></p>
                    <p style="font-size: 14px;"><a class="sous_text_footer" href="https://rg-group.fr/desamiantage-et-depollution">    
                         Désamiantage déplombage
                        <br>  décontruction </a>
                    </p>
                    <p style="font-size: 14px;"> <a class="sous_text_footer" href="https://rg-group.fr/couvreurs-et-cordistes"> Couvreurs et cordistes </a></p>
                    <P style="font-size: 14px;"> <a class="sous_text_footer" href="https://rg-group.fr/transport-et-location-de-materiels-de-chantier">Transport et location de matériel de chantier </a></P>
                    <p style="font-size: 14px;"> <a class="sous_text_footer" href=" https://rg-group.fr/metallerie/"> Entretien de verrières industrielles et parisiennes</a></p>

               
                </div> 
               
               <!-- Footer Contactez-nous-->
               <div class="col-lg-3 mb-lg-0">
                   <h6 class="mb-3 ">Contactez-Nous</h6>
                   <p class="underline_text"></p>
                   
                   <p class="sous_text_footer ">14 avenue fridingen</p>
                       <p style="font-size: 14px;"class="sous_text_footer">77100, Nanteuil-les- meaux </p>
                       <p  style="font-size: 14px;"class="sous_text_footer">Tel: 01 60 01 25 25 </p>
                   </p>
               </div>
           </div>
       </div>
     </footer>
     <!-- Copyright Section
     <div class="copyright py-4 text-center text-white">
       <div class="container"><small>Copyright &copy; Your Website 2021</small></div>
     </div>-->