{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ path('app_user') }}">Mes informations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('trajetByUser') }}">Mes trajets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('app_voiture') }}">Mes voitures</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('app_payements') }}">Mes transactions</a>
  </li>
</ul>
</div>
{% endblock %}
